* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left::after {
  content: "";
  flex: auto;
  margin: 10px;
}
.center {
  justify-content: center;
}
.center-h {
  margin: 0 auto;
}
.padding {
  padding: 10px;
}
.card {
  position: relative;
  margin: 10px;
}
img {
  width: 100%;
}
input.search {
  width: 80%;
  height: 2rem;
}
button {
  width: 3rem;
}
.lightbox {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #000000d0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details {
  background-color: white;
  width: 40rem;
  height: 30rem;
  border-radius: 5px;
  z-index: 100;
}
.poster {
  width: 15rem;
}
.border {
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}
.fnt-sm {
  font-size: 0.8rem;
}
.fnt-md {
  font-size: 1.2rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0
}

.footer {
  right: 0;
  bottom: 0;
  height: 2rem;
  width: 100%;
}
.no-margin {
  margin: 0;
}