@import url('https://fonts.googleapis.com/css?family=Lato');
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif, Arial, Helvetica, sans-serif;
  color: #29241E;
}
body {
  margin: 0;
  padding: 0;
  --background-color: #FEFFF8;
  --main-color: #D05A00;
  background-color: var(--background-color);
  --bright-color: #FEFFF8;
  --movie-margin: 5px;
  --site-width: 90%;
}
@media (min-width: 320px) {
  .details{
    width: 100%;
    height: 100%;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
  }
  header{
    font-size: 1.8rem;
  }
}
@media (min-width: 480px) {
}
@media (min-width: 768px) {
  .details{
    width: 100%;
    height: 100%;
    overflow: scroll;
    flex-direction: row;
    align-items: initial;
  }
  header{
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .details{
    width: 70%;
    height: initial;
    overflow: auto;
    flex-direction: row;
    align-items: initial;
  }
}
@media (min-width: 1200px) {
}
header {
  background-color: var(--main-color);
}
.search-bar{
  position: sticky;
  top: 0;
  height: 5rem;
  z-index: 5;
  background-color: var(--main-color);
}
.container {
  display: flex;
  justify-content: space-around;
}
.container-vert {
  display: flex;
  flex-direction: column;
}
/*
.blank-field::after {
  content: "";
  flex: auto;
  margin: var(--movie-margin);
}
*/
.movie-footer {
  border-top: solid 1px lightgray;
  height: 2rem;
  padding: 10px;
  margin: 10px;
  flex-grow: 0;
}
.movie-details {
  padding: 0 10px;
  margin: 10px 10px 0 10px;
}
.flex-strech-self{
  align-self: stretch;
}
.flex-start{
  justify-content: flex-start;
}
.flex-space-between{
  justify-content: space-between;
}
.flex-center-vert{
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-grow{
  flex-grow: 1;
}
.flex-no-shrink{
  flex-shrink: 0;
}
.center-hor {
  margin: 0 auto;
}
.movie {
  margin: var(--movie-margin);
}
img {
  width: 100%;
}
button{
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
input.search {
  height: 3rem;
  padding: 10px;
}
button {
  width: 3rem;
}
.color-text {
  color: var(--main-color);
}
.bold {
  font-weight: bold;
}
.invisible {
  visibility: hidden;
}
.lightbox {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #000000d0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details {
  background-color: white;
  border-radius: 5px;
  z-index: 100;
  padding: 10px;
  position: relative;
}
.poster {
  width: 15rem;
}
.navigation {
  height: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0
}
h2{
  font-size: 1.3rem;
}
h3{
  font-size: 1.1rem;
}

.scroll-off{
  overflow-y: hidden;
}
.scroll-on {
  overflow-y: scroll;
}
.footer {
  right: 0;
  bottom: 0;
  height: 2rem;
  width: 100%;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}
.top-0{
  top: 0;
}
.border {
  border-color: lightgray;
  border-width: 2px;
  border-style: solid;
}
.bright-color{
  color: var(--bright-color);
}
.max-width{
  width: 100%;
}
.max-height{
  height: 100%;
}
.position-fixed{
  position: fixed;
}
.site-width{
  width: var(--site-width);
}
.clickable{
  cursor: pointer;
}
.close-btn{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.rounded{
  border-radius: 0 0 10px 10px;
}
.margin-right{
  margin-right: var(--movie-margin);
}
.dropshadow:after{
	content: '';
	position:absolute;
	z-index:-1;
	bottom:-3px;
	width:94%;
	left:50%;
	margin-left:-47%;
	height:30px;
	box-shadow: 0 16px 30px -5px rgba(0, 0, 0, 1);
	-webkit-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
	-moz-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
	-ms-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
	-o-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
	transform: perspective(800px) rotateY(0deg) rotateX(45deg);
}
.shadow-bot{
  box-shadow: 0 8px 6px -6px black;
  transition: box-shadow 10s;
}
.hvr-float {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /*box-shadow: 0 0 1px transparent;*/
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.shadow-bot.hvr-float:hover,
.shadow-bot.hvr-float:focus,
.shadow-bot.hvr-float:active {
  box-shadow: 0 8px 6px -6px black;
}
ul{
  margin: 5px;
  padding-left: 20px;
}
.margin-5{
  margin: 5px;
}